@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print {
    display: none !important;
  }

  .break-before-page {
    break-before: page;
    page-break-before: always;
  }

  .pdf-page {
    margin: 0;
    padding: 0;
  }
}
